<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body>
        <header>
            <h1>Repositorio de Trabajos GyL</h1>
        </header>
    <div class="menu">   
        <ul>
            <li><a href="https://github.com/PabloLizana17/TrabajoGyL">Trabajo 1</a></li>
            <li><a href="https://github.com/PabloLizana17/GyL2">Trabajo 2</a></li>
            <li><a href="https://github.com/PabloLizana17/Trabajo3">Trabajo 3</a></li>
            <li><a href="https://github.com/PabloLizana17/Trabajofinal">Trabajo Integral</a></li>
        </ul>
    </div>
    <div class="cuerpo">
        <div class="izquierda">
            <div class="box">
                <div id="texto">
                    <p>En esta ventana es necesario subir el archivo (formato .txt) donde se especifican los puntos de partida "P" o "C", siendo "P" un
                    punto de venta t "C" un centro de distribuc&iacute;on, luego de eso se debe acompa&ntilde;ar con un valor n&uacute;merico N (identificador n&uacute;merico), separado por un punto y coma (;),
                    luego a&ntilde;adimos otro punto y coma (;), terminando con las cordenadas en X,Y.
                    <br><br>Quedando de la siguiente manera P o C;N;X,Y. Abajo hay un ejemplo en detalle:</p>
                </div>
                <div id="foto">
                    <img src="../../public/img/Screenshot_11.png" alt="Ingreso de datos">
                </div>
                <div id="archivo">
                    <input type="file" id="archivoTexto1">
                </div>
            </div>
        </div>
        <div id="centro"></div>
        <div class="derecha">
            <div class="box">
                <div>
                    <p>En esta ventana es necesario subir el archivo (formato .txt) donde se especifica, el centro de distribucion de partida (Por su n&uacute;mero identificador), luego se coloca un punto y coma (;) como separador, 
                        se coloca el punto de venta (con su n&uacute;mero identificador), se vuelve a separar por un punto y coma (;), finalizando con la cantidad de productos a repartir.<br><br>
                        Quedando de la siguiente manera: C;P;N. Abajo se muestra un ejemplo extendido.
                    </p>
                </div>
                <div>
                    <img src="../../public/img/Screenshot_2.png" alt="Ingreso de datos">
                </div>
                <div>
                    <input type="file" id="archivoTexto2">
                </div>
            </div>
        </div>
    </div>
</html>
