<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h1>Repositorio de Trabajos GyL</h1>
        </header>
    <div class="menu">   
        <ul>
            <li><a href="https://github.com/PabloLizana17/TrabajoGyL">Trabajo 1</a></li>
            <li><a href="https://github.com/PabloLizana17/GyL2">Trabajo 2</a></li>
            <li><a href="https://github.com/PabloLizana17/Trabajo3">Trabajo 3</a></li>
            <li><a href="https://github.com/PabloLizana17/Trabajofinal">Trabajo Integral</a></li>
        </ul>
    </div>
    <div class="cuerpo">
        <div class="izquierda">
            <section id="texto">
                <p>cami hola</p>
            </section>
            <section id="foto">
                <img src="img/Screenshot_11.png" alt="Ingreso de datos">
            </section>
            <section id="archivo">
                <input type="file" id="archivoTexto">
            </section>
        </div>
        <div id="centro"></div>
        <div class="derecha">
            <section id="texto">
                <p>hola putos</p>
            </section>
            <section id="foto">
                <img src="img/Screenshot_2.png" alt="Ingreso de datos">
            </section>
            <section id="archivo">
                <input type="file" id="archivoTexto">
            </section>
        </div>
    </div>
</html>
