@import url(https://fonts.google.com/specimen/M+PLUS+1+Code?query=code);
@import url(https://fonts.google.com/specimen/Fira+Code?query=fira);
body{
    background-color: #CAE5E5;  /* Color de fondo */
    font-family: 'open sans';
    background:  #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(204, 8%, 76%, 0.596), hsla(210, 29%, 24%, 0.603)),url(../img2/portada.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(204, 8%, 76%, 0.596), hsla(210, 29%, 24%, 0.603)),url(../img2/portada.jpg); /* si toco los colores puedo cambiarle la transparencia hla */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
header{
    font-family: "fira code";   /* Letra y tamaño de letra del Header*/
    font-size: 100%;

    width: 100%;
    height: 200px;
    
    
}

header .textos-header{

    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;      /*sirve si los textos de lheader se unen, los deja en columnas*/
    text-align: center;

}
.textos-header h1{  /*sirve para que cada h1 tenga su persoanlizado*/
    font-size: 100px;
    text-decoration:underline;
    color: rgb(0, 0, 0);

}




a{
    font-family: "query code"; /* Esta de mas*/
    font-size: 100%;
}
.menu {
    width: 100%;
    font-family: "fira code";
    font-size: 100%;
    text-align: justify;
    margin: auto;
    display: flex;
    text-align: center; 
    
}
.menu ul{
    list-style: none; /*cdetalles de la etiqueta Nav la wea de los repos de git*/ 
    
}
.menu ul li{
    display: inline-block; /*cdetalles de la etiqueta Nav la wea de los repos de git*/ 
    background: #544a7d;
    
    
}
.menu ul li a{
    color: white;
    display: block;
    padding: 20px 250px;    /*cdetalles de la etiqueta Nav la wea de los repos de git*/ 
    text-decoration: none;  
    font-family: "fira code";
    font-size: 100%;
    
}
.menu ul li a:hover{
    background-color:  #5D4F6B; /*cdetalles de la etiqueta Nav la wea de los repos de git*/ 
}
.cuerpo {
    width: 100%;
    font-family: "fira code"; /* tamaño del box grande de texto y fuente */ 
    font-size: 100%;
    overflow: hidden;
}
.izquierda {
    width: 45%;
    float: left;
    height: 500px;
    background-color:	#9DBAD5;    /* cARACTERISTICAS DEL BOX IZQUIERDO PEQUENO*/
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 75px;
    

}
#centro{
    width: 4%;
    float: left; /* ESPACIO CENTRAL INVISIBLE PARA SEPARA LOS BOXES*/
    height: 1100px;

}

.derecha{
    width: 45%;
    float: left;
    background-color: 	#9DBAD5;
    height: 500px;                      /* cARACTERISTICAS DEL BOX DERECHO PEQUENO*/
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
}
.derecha p{
    margin: 30px 30px 30px 30px;
    font-family: "fira code";
    font-size: 110%;
    text-align: justify;

}
.derecha img{
    width: 45%;
    margin-left: 30px;
    margin-top: 50px;        /* cARACTERISTICAS DEL BOX DERECHO EN LAS EETIQUETAS IMG*/
    float: left;
    
}
.derecha input{
    width: 400px;
    margin-left: 110px;      /* cARACTERISTICAS DEL BOX DERECHO EN LAS EETIQUETAS INPUT*/
    margin-top: 135px;
}
.box {
    display: inline-block;      /* RELLENO*/
    
}
.izquierda p{
    margin-left: 30px;          
    margin-top: 30px;       /* cARACTERISTICAS DEL BOX IZQUIERDO EN LAS EETIQUETAS P*/
    margin-right: 30px;
    font-family: "fira code";
    font-size: 110%;
    text-align: justify;
    
}
.izquierda img{
    width: 45%;
    margin-left: 30px;          /* cARACTERISTICAS DEL BOX IZQUIERDO EN LAS EETIQUETAS IMG*/
    margin-top: 5px;
    float:left;
    
    
}
.izquierda input{
    width: 400px;
    margin-left: 110px;     /* cARACTERISTICAS DEL BOX IZQUIERDA EN LAS EETIQUETAS INPUT*/
    margin-top: 135px;
    
}



.descripcion {
    width: 1700px;
    margin: auto;
    margin-top: 10px;
    padding: 60px 0;
    height: 800px;
    background-color: #1CB5E0;  /* cARACTERISTICAS DEL BOX ID DESCRIPCION*/
    border-radius: 100px;
    font-family: "fira code";
    font-size: 110%;
    overflow:visible;
    
}
.textos-descripcion h2{  /*sirve para que cada h2 tenga su persoanlizado*/
    font-size: 50px;
    text-align: center;
    color: black;
    margin-top: 15px;
    margin-left: 20px;

}
.textos-descripcion h3{

    font-size: 30px;
    
    color: black;
    margin-left: 100px;


}

.descripcion p{
    
    margin-left: 30px;
    margin-right: 30px; /* cARACTERISTICAS DEL BOX ID DESCRIPCION DE LAS ETIQUETAS p*/
    padding: 0px 0px 30px 15px; /*me separo los textos del main , osea P*/
    font-weight: 300;
    text-align: justify;
    

}
.descripcion input{

    margin-left: 70px;
    display: inline-block;  /* cARACTERISTICAS DEL BOX ID DESCRIPCION DE LAS ETIQUETAS INpUT*/
    
}
#derecha{
    width: 400px;   /* RELLENO */
}


.contenedor-footer{
    
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
}

.content-foo{
    margin-bottom: 20px;
    text-align: center;
}

.content-foo h4{
    border: none;
    font-size: 20px;
}

.content-foo p{
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
    font-size: 20px;
}
.content-foo a{
    color: #ffd452;
}

.titulo-final{
    font-size: 30px;
    text-align: center;
    font-size: 24px;
    margin: 20px;
    color: #000000;
    background: rgb(255, 255, 255);
}

.contacto-footer{
    text-align: center;
    font-size: 50px;
    font-family: "fira code";
    text-decoration: underline;

}
